<nav class="sidebar" [class.collapsed]="sidebar.collapsed()"
                    [class.overlay]="isMobile()">

  <h2 class="logo">OnHand</h2>

  <ul class="menu">
    <li>
      <a routerLink="/on-hand" routerLinkActive="active">
        <span class="material-icons">home</span>
        <span class="label">On hand</span>
      </a>
    </li>

    <li>
      <a routerLink="/productos" routerLinkActive="active">
        <span class="material-icons">shopping_bag</span>
        <span class="label">Productos</span>
      </a>
    </li>
  </ul>
</nav>
