<div class="login-wrapper">
  <mat-card class="login-card mat-elevation-z6">
    <h2 class="title">Iniciar sesión</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
      <mat-form-field appearance="outline" class="full">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          formControlName="username"
          autocomplete="username"
          placeholder="Ej. admin"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
          placeholder="••••••••"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Mostrar/Ocultar contraseña'"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="full submit-btn"
        [disabled]="form.invalid"
      >
        Entrar
      </button>
    </form>
  </mat-card>
</div>
